$dropdown-border-color: #464646;
$product-section-bg: #f6f6f6;
$box-border: #e9e9e9;
$dark-section-bg: #181818;
$transition-duration: .2s;
$transition-effect-duration: $transition-duration*4;
$transition-delay: .6s;
$transition-ease: cubic-bezier(0, 0, 0.2, 1);
$retina-media-query: (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi);

$avenir-font-path: 'fonts/';
$playfair-font-path: $avenir-font-path;

$brand-primary: #4e60e9;

$text-color: #202020;
$link-color: #2c19d4;

$font-family-sans-serif: "Avenir LT Std", sans-serif !default;
$font-family-serif: "Playfair Display", serif !default;

$font-size-base: 13px;

$font-size-h1: 72px;
$font-size-h2: 72px;
$font-size-h3: 20px;
$font-size-h4: 15px;
$font-size-h5: 15px;

$padding-base-vertical: 14px;
$padding-base-horizontal: 50px;

$border-radius-base: 2px;

$screen-md-min: 992px;
$grid-float-breakpoint: $screen-md-min;

$navbar-height: 65px;
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
$navbar-padding-horizontal: 0;
$navbar-padding-vertical: 20px 0 17px;

$navbar-default-color: $text-color;
$navbar-default-bg: $product-section-bg;
$navbar-default-border: none;

$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-hover-color: darken($brand-primary, 10%);
$navbar-default-link-active-color: $navbar-default-link-hover-color;
$navbar-default-link-active-bg: $navbar-default-bg;

$navbar-default-brand-color: #353434;
$navbar-default-brand-hover-color: $navbar-default-brand-color;

$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: #464647;
$navbar-default-toggle-border-color: transparent;

$dropdown-bg: $product-section-bg;
$dropdown-border: none;

$dropdown-link-color: $text-color;
$dropdown-link-hover-color: $dropdown-link-color;
$dropdown-link-hover-bg: #fff;

$dropdown-link-active-bg: black;

$jumbotron-padding: 0;
$jumbotron-bg: transparent;
$jumbotron-heading-font-size: $font-size-h1;

$modal-inner-padding: 40px 40px 0;
$modal-title-padding: 20px 20px 0;
$modal-title-line-height: 48px;

$modal-content-bg: $product-section-bg;
$modal-content-border-color: transparent;
$modal-content-fallback-border-color: transparent;
$modal-backdrop-opacity: 0.8;
$modal-header-border-color: transparent;
$modal-footer-border-color: transparent;
$modal-lg: 650px;
$modal-md: 650px;
$modal-sm: 300px;

$btn-font-weight: 900;
$btn-primary-border: $brand-primary;

$hr-border: #cbcbcb;
