/*!
Theme Name: Formann-Loyt
Author: Paweł Kowalewski
Description: Custom theme for Formann-Loyt
Version: 1.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@import "./variables";

@import "./font-avenir";
@import "playfair-webfont/scss/playfair-italic";
@import "mathsass/dist/math";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/jumbotron";
@import "bootstrap/close";
@import "bootstrap/modals";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

::selection {
  background: $brand-primary;
  color: #fff;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
}

h1, h2 {
  padding-bottom: 32px;
  font-weight: 900;
  text-transform: lowercase;
  line-height: 60px;

  @media (max-width: $screen-xs-max) {
    font-size: 24px;
    line-height: 20px;
  }

  i {
    font-family: $font-family-serif;
    font-size: 86px;
    font-weight: 400;

    @media (max-width: $screen-xs-max) {
      font-size: 28px;
    }
  }
}

h3, h4 {
  @media (max-width: $screen-xs-max) {
    font-size: 12px;
  }
}

h5 {
  @media (max-width: $screen-xs-max) {
    font-size: 10px;
  }
}

a {
  font-weight: 900;
  font-size: 11px;
  transition: color $transition-duration;

  &:hover {
    text-decoration: none;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 10px;
  }
}

p {
  letter-spacing: .7px;

  @media (max-width: $screen-xs-max) {
    font-size: 10px;
  }
}

b {
  font-weight: 900;
}

svg {
  path {
    fill: $text-color;
  }
}

.navbar {
  font-weight: 900;

  @media (max-width: $grid-float-breakpoint-max) {
    background: transparent;
  }

  .admin-bar & {
    @media (min-width: 600px) {
      top: 32px;
    }
  }

  $navbar-mobile-border: #dfdee2;
  &.with-effect {
    opacity: 0;

    &.fire-effect {
      opacity: 1;
      transition: opacity $transition-effect-duration $transition-delay/2;
    }
  }

  &-header {
    @media (max-width: $grid-float-breakpoint-max) {
      margin: 0 $grid-gutter-width/-2 -1px !important;
      padding: 0 $grid-gutter-width/2;
      background: $product-section-bg;
      border-bottom: 1px solid $navbar-mobile-border;
    }
  }

  &-brand {
    font-size: 18px;

    @media (max-width: $grid-float-breakpoint-max) {
      height: 63px;
      padding: 23px 0;
      font-size: 12px;
    }

    img {
      width: 25px;
      display: inline-block;
      margin-right: 4px;

      @media (max-width: $grid-float-breakpoint-max) {
        width: 18px;
      }
    }
  }

  &-collapse {
    @media (max-width: $grid-float-breakpoint-max) {
      width: calc(50% + #{$grid-gutter-width/2});
      margin: 1px $grid-gutter-width/-2 0 0 !important;
      float: right;
      background: $product-section-bg;
      border-bottom: 1px solid $navbar-mobile-border;
    }
  }

  &-nav {
    margin-top: 20px;

    @media (max-width: $grid-float-breakpoint-max) {
      margin: 0;
    }

    li {
      @media (max-width: $grid-float-breakpoint-max) {
        overflow: hidden;
      }

      a {
        margin: 0 18px;
        padding: 5px;
        font-size: 13px;

        @media (max-width: $grid-float-breakpoint-max) {
          margin: 5px 0 0;
          padding: 8px 20px 11px;
          font-size: 11px;
          border-bottom: 1px solid $navbar-mobile-border;
        }

        &:focus {
          color: initial;
        }
      }
    }

    .caret {
      float: right;
      margin-top: 4px;
    }

    .dropdown {
      margin: -3px 0 0 23px;
      overflow: visible;

      @media (max-width: $grid-float-breakpoint-max) {
        margin: $grid-gutter-width/2;
        overflow: hidden;
      }

      &.open {
        .caret {
          transform: rotate(180deg);
        }
      }

      &-toggle {
        width: 101px;
      }

      &-menu {
        min-width: 101px;
        padding: 0;
        border: none;
        box-shadow: none;
        font-size: inherit;

        @media (max-width: $grid-float-breakpoint-max) {
          position: static;
          width: 100%;
          display: block;
        }

        li {
          @media (max-width: $grid-float-breakpoint-max) {
            display: block;
          }

          &:first-child a {
            @media (max-width: $grid-float-breakpoint-max) {
              border-top-width: 1px !important;
            }

            &.active {
              border-top-width: 3px !important;
            }
          }

          a {
            border-color: $dropdown-border-color;
            border-top-width: 0 !important;
            transition: background-color $transition-duration;

            &.active {
              border-width: 2px 3px 3px !important;
            }
          }
        }
      }

      a {
        margin: 0;
        padding: 10px 15px !important;
        border: 1px solid $dropdown-border-color !important;
        color: $text-color !important;
        line-height: 13px !important;
        font-size: 11px;
        font-weight: inherit;
      }
    }
  }

  &-h1 {
    margin-top: 21px;

    .icon-bar {
      width: 25px;
      height: 2px;

      + .icon-bar {
        margin-top: 5px;
      }
    }
  }

  .container {
    position: relative;
  }

  .btn-container {
    position: absolute;
    top: 8px;
    right: 426px;
    z-index: -1;

    @media (max-width: $grid-float-breakpoint-max) {
      top: 8px;
      right: 111px;
    }

    @media (max-width: $screen-xs-max) {
      right: 75px;
    }

    &.btn-visible {
      z-index: 1;

      #btn-menu {
        opacity: 1;
      }
    }

    &.btn-hidden {
      z-index: -1;

      #btn-menu {
        opacity: 0;
      }
    }

    #btn-menu {
      @extend .btn;
      @extend .btn-primary;
      opacity: 0;
      transition: opacity $transition-duration, background-color $transition-duration !important;

      @media (max-width: $screen-xs-max) {
        padding: $padding-base-vertical 20px;
      }
    }
  }
}

#carousel {
  background: $product-section-bg;

  @media (max-width: $grid-float-breakpoint-max) {
    padding-top: 64px;
  }

  .carousel-inner {
    width: 100%;

    &.with-effect {
      opacity: 0;

      &.fire-effect {
        opacity: 1;
        transition: opacity $transition-effect-duration $transition-delay;
      }
    }
  }

  img {
    padding-left: $grid-gutter-width * 2;
    width: 768px;
    height: 898px;

    @media (max-width: $screen-xs-max) {
      padding-left: 0;
      width: auto;
      height: auto !important;
      max-width: 80%;
    }
  }
}

.carousel {
  & &-control {
    opacity: 1;
    background: none;
    z-index: 1;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      margin-top: -8px;
      transform: rotate(90deg);

      path {
        fill: rgba(#464647, .5);
      }
    }

    &.right {
      svg {
        left: auto;
        right: 50%;
        transform: rotate(-90deg);
      }
    }
  }
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;

      img {
        @media (max-width: $screen-xs-max) {
          height: auto !important;
        }
      }
    }

    .active {
      opacity: 1;

      &.left, &.right {
        left: 0;
        opacity: 0;
        z-index: 1;
      }
    }

    .next.left, .prev.right {
      opacity: 1;
    }
  }
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner {
    > .item.next, > .item.active.right, > .item.prev, > .item.active.left {
      opacity: 0;
      transform: translate3d(0, 0, 0);
    }

    > .item.next.left, > .item.prev.right, > .item.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

.hero {
  position: absolute;
  top: 271px;
  left: 0;
  right: 0;
  z-index: 2;

  @media (max-width: $screen-sm-max) {
    top: 381px;
  }

  @media (max-width: $screen-xs-max) {
    position: relative;
    top: 0;
    z-index: 1;
    text-align: center;
    transform: none;
    margin: -40px 0 0;
    padding-bottom: $grid-gutter-width;
    background: $product-section-bg;
  }

  .caption-container.with-effect {
    opacity: 0;

    &.fire-effect {
      opacity: 1;
      transition: opacity $transition-effect-duration $transition-delay*1.5;
    }
  }

  h1 {
    @media (max-width: $screen-xs-max) {
      margin: 0;
      padding: 0 0 $grid-gutter-width/2;
    }
  }
}

.btn {
  font-size: 14px;
  transition: background-color $transition-duration;
}

.product {
  background: $product-section-bg;
  margin-top: -120px;

  @media (max-width: $screen-xs-max) {
    margin-top: 0
  }

  > .container {
    position: relative;
    z-index: 1;

    @media (max-width: $screen-xs-max) {
      padding: 0;
    }
  }

  #product {
    padding-top: 60px;
    border-top: 1px solid $hr-border;

    @media (max-width: $screen-md-max) {
      padding-top: 110px;
    }

    @media (max-width: $screen-md-max) {
      padding: 20px $grid-gutter-width 0;
    }

    .col-sm-5 {
      float: none;
      margin: 0 auto 76px;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 30px;
      }
    }
  }
}

.next-section {
  position: relative;
  bottom: -10px;
  display: block;
  color: $text-color;
  text-align: center;

  &:before {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    background: $product-section-bg;
    border-radius: 50%;
    content: "";
  }

  svg {
    position: relative;
    width: 16px;

    @media (max-width: $screen-xs-max) {
      path {
        fill: rgba(#464647, .5);
      }
    }
  }
}

.features-container {
  background: $dark-section-bg;
  color: #fff;
  overflow: hidden;

  .row {
    position: relative;

    $line-margin: 18px;
    $line-margin-phone: 9px;
    $dot-size: 7px;
    $dot-size-phone: 3px;
    $border-color: #5e5e5e;

    > div > div {
      position: relative;
      z-index: 2;
      height: 263px;

      @media (max-width: $screen-md-max) {
        height: 190px;
      }

      @media (max-width: $screen-sm-max) {
        height: 150px;
      }

      &:nth-child(even) {
        clear: left;
      }

      &:last-child {
        height: 300px;

        @media (max-width: $screen-md-max) {
          height: 236px;
        }

        @media (max-width: $screen-sm-max) {
          height: 200px;
        }
      }

      > div:hover {
        h4 span {
          border-color: lighten($border-color, 25%);

          &:after {
            transform: scale(1.5);
          }
        }

        p {
          color: #fff;
        }
      }

      &.top-wood, &.premium, &.handcrafted, &.robust {
        &.with-effect {
          &.fire-effect {
            transform: translateX(0);
          }
        }
      }

      &.top-wood {
        span {
          width: 243px;

          @media (max-width: $screen-md-max) {
            width: 200px;
          }

          @media (max-width: $screen-sm-max) {
            width: 138px;
          }

          @media (max-width: $screen-xs-max) {
            width: calc(100% + #{$line-margin-phone} + 51px);
          }
        }

        &.with-effect {
          transform: translateX(-1200px);
          transition: transform $transition-effect-duration $transition-ease;
        }
      }

      &.handcrafted, &.robust {
        h4, p {
          @media (max-width: $screen-sm-max) {
            margin-left: -15px;
          }
        }

        span {
          margin: 0 $line-margin 0 0;
          left: auto;
          right: 100%;
          width: 120px;

          @media (max-width: $screen-sm-max) {
            width: 40px;
          }

          @media (max-width: $screen-xs-max) {
            width: 87px;
            margin: 0 $line-margin-phone 0 0;
          }

          &:after {
            left: 0;
            right: auto;
          }
        }

        &.with-effect {
          transform: translateX(1200px);
          transition: transform $transition-effect-duration $transition-effect-duration/4 $transition-ease;
        }
      }

      &.premium, &.robust {
        span {
          width: 239px;

          @media (max-width: $screen-md-max) {
            width: 189px;
          }

          @media (max-width: $screen-sm-max) {
            width: 141px;
          }

          @media (max-width: $screen-xs-max) {
            width: calc(100% + #{$line-margin-phone} + 48px);
          }
        }
      }

      &.premium {
        @media (max-width: $screen-xs-max) {
          margin-bottom: 68px;
        }

        &.with-effect {
          transform: translateX(-1200px);
          transition: transform $transition-effect-duration $transition-ease;
        }
      }

      &.robust {
        span {
          width: 230px;

          @media (max-width: $screen-md-max) {
            width: 200px;
          }

          @media (max-width: $screen-sm-max) {
            width: 20px;
          }

          @media (max-width: $screen-xs-max) {
            width: 46px;
          }
        }
      }
    }

    img {
      position: absolute;
      top: 140px;
      left: 50%;
      width: 406px;
      height: auto;
      transform: translateX(-50%);

      @media (max-width: $screen-md-max) {
        top: 100px;
        width: 304px;
      }

      @media (max-width: $screen-sm-max) {
        top: 80px;
        width: 190px;
      }

      @media (max-width: $screen-xs-max) {
        top: 41px;
        left: calc(50% + 36px);
        width: 322px;
        transform: none;

        + img {
          top: auto;
          bottom: 0;
          left: auto;
          right: calc(50% + 48px);
        }
      }
    }

    h4 {
      position: relative;
      float: left;
      margin-top: 0;
      white-space: nowrap;

      @media (max-width: $screen-xs-max) {
        @include clearfix;
        float: none;
        white-space: normal;

        b {
          position: relative;
          z-index: 1;
          background: $dark-section-bg;
          float: left;

          span {
            padding-right: $line-margin-phone;
          }
        }
      }

      > span {
        position: absolute;
        top: 5px;
        left: 100%;
        margin-left: $line-margin;
        border-top: 1px solid $border-color;
        transition: border-color $transition-duration;

        @media (max-width: $screen-xs-max) {
          margin: 0;
          left: 0;
          display: block;
        }

        &:after {
          position: absolute;
          top: -4px;
          right: 0;
          width: $dot-size;
          height: $dot-size;
          background: #fff;
          border-radius: 50%;
          content: "";
          transition: transform $transition-duration;

          @media (max-width: $screen-xs-max) {
            top: -2px;
            width: $dot-size-phone;
            height: $dot-size-phone;
          }
        }
      }
    }

    p {
      clear: both;
      color: #8f8f8f;
      transition: color $transition-duration;
    }
  }
}

.model-gallery {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;

  @media (max-width: $screen-xs-max) {
    margin: 0 $grid-gutter-width/-2;
    padding: 0 $grid-gutter-width/2;
    background: $product-section-bg;
  }

  &-item {
    position: relative;
    width: 25%;
    float: left;
    overflow: hidden;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 10px;
      width: 100%;
      float: none;

      img {
        width: 100% !important;
      }
    }
  }

  + .row {
    padding-top: 188px;

    @media (max-width: $screen-md-max) {
      padding-top: 140px;
    }

    @media (max-width: $screen-sm-max) {
      padding-top: 103px;
    }

    @media (max-width: $screen-xs-max) {
      padding-top: 77px;
    }
  }
}

#models {
  margin-bottom: 100px;
  padding-top: 100px;
  max-width: 100%;
  overflow: hidden;
  border-bottom: 1px solid $hr-border;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 36px;
    padding-top: 18px;
    border-bottom: none;
  }

  .lead {
    padding-right: $grid-gutter-width * 3;

    @media (max-width: $screen-md-min) {
      padding-right: $grid-gutter-width;
    }
  }
}

.lead {
  font-size: 18px;

  @media (max-width: $screen-xs-max) {
    font-size: 10px;
  }
}

%h3 {
  font-size: 48px;
  font-weight: 700;
  text-transform: lowercase;
  margin: 0 0 35px;

  @media (max-width: $screen-xs-max) {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

$box-height-lg: 570px;
$box-height-md: 470px;
$box-height-sm: 360px;
@mixin line-askew($box-height-local: $box-height-lg, $box-width-local: $box-height-local, $border-color: $box-border) {
  position: absolute;
  top: 50%;
  right: ($box-height-local - sqrt(pow(strip-unit($box-width-local), 2) + pow(strip-unit($box-height-local), 2))) / 2;
  border-top: 1px solid $border-color;
  width: #{sqrt(pow(strip-unit($box-width-local), 2) + pow(strip-unit($box-height-local), 2))}px;
  transform: rotateZ(45deg);
  z-index: -1;
  content: "";
}

.models {
  @include make-row(0);

  %model-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
  }

  $model-list: (
    casaya: #ea6c1f,
    nocca: #1f62ea,
    steyna: #6106c8,
    devorma: #48cb32,
    rastel: #000,
  );

  &-item {
    @include make-sm-column(6, 0);
    position: relative;
    height: $box-height-lg;

    @media (max-width: $screen-md-max) {
      height: $box-height-md;
    }

    @media (max-width: $screen-sm-max) {
      height: $box-height-sm;
    }

    @media (max-width: $screen-xs-max) {
      height: auto;
    }

    &:not(&--visible) {
      overflow: hidden;
    }

    &--visible {
      @media (max-width: $screen-xs-max) {
        margin: 0 $grid-gutter-width/-2;

        img {
          height: 285px;
          max-width: none !important;
          float: right;
          margin-right: -50px;
        }
      }
    }

    &.with-effect {
      opacity: 0;
      transition: opacity $transition-effect-duration;

      &.fire-effect {
        opacity: 1;
      }
    }

    @each $model, $color in $model-list {
      &--#{$model} {
        & a:after {
          @extend %model-item-overlay;
          background: $color;
          opacity: 0;
          transition: opacity $transition-duration;
        }

        & a:hover:after {
          opacity: .2;
        }
      }
    }

    &--steyna:after {
      opacity: .15;
    }

    &--desc {
      padding: 60px 80px 80px;

      @media (max-width: $screen-sm-max) {
        padding: 30px 40px 40px;
      }

      @media (max-width: $screen-xs-max) {
        padding: 30px 20px;
      }

      &-first {
        @media (max-width: $screen-xs-max) {
          padding: 0 20px 12px;
        }
      }

      &:after {
        @include line-askew;

        @media (max-width: $screen-md-max) {
          @include line-askew($box-height-md);
        }

        @media (max-width: $screen-sm-max) {
          @include line-askew($box-height-sm);
        }

        @media (max-width: $screen-xs-max) {
          content: none;
        }
      }

      &:last-child:after {
        transform: rotateZ(-45deg);
      }
    }

    &-thumb {
      position: absolute;
      bottom: 54px;
      height: auto;
      max-width: 106px;

      @media (max-width: $screen-md-max) {
        max-width: 65px;
      }

      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }

    h2 {
      @media (max-width: $screen-md-min) {
        font-size: 48px;
        line-height: 40px;
        padding-bottom: 22px;

        i {
          font-size: 57px;
        }
      }

      @media (max-width: $screen-xs-max) {
        font-size: 24px;
        line-height: 20px;
        padding-bottom: 22px;

        i {
          font-size: 29px;
        }
      }
    }

    h3 {
      @extend %h3;
    }

    a {
      position: relative;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: auto;
      max-height: $box-height-lg;

      @media (max-width: $screen-md-max) {
        max-height: $box-height-md;
      }

      @media (max-width: $screen-sm-max) {
        max-height: $box-height-sm;
      }

      @media (max-width: $screen-xs-max) {
        max-width: 100%;
        max-height: none;
      }
    }
  }

  &:nth-child(even) {
    .models-item-thumb {
      left: 82px;
    }
  }

  &:nth-child(odd) {
    .models-item-thumb {
      right: 82px;
    }
  }
}

.instagram {
  h3 {
    @extend %h3;
    margin-bottom: 55px;

    @media (max-width: $screen-xs-max) {
      margin: 0 0 23px 20px;
    }
  }
}

.hashtags {
  @include make-row(0);

  &-item {
    @include make-sm-column(3, 0);
    border-right: 1px solid #eaeaea;

    &:first-child {
      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-left: 1px solid #eaeaea;
        content: "";
      }

      img {
        margin-left: 0;
      }
    }

    @media (max-width: $screen-xs-max) {
      border: none !important;

      br {
        display: none;
      }
    }

    img {
      height: auto;
      max-width: calc(100% + 1px);
      margin-left: -1px;

      @media (max-width: $screen-xs-max) {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
      }
    }

    @each $index in (1,2,3,4) {
      &.with-effect:nth-child(#{$index}) {
        img, p {
          opacity: 0;
        }

        &.fire-effect {
          img {
            opacity: 1;
            transition: opacity $transition-effect-duration $transition-delay/8*$index;
          }

          p {
            opacity: 1;
            transition: opacity $transition-effect-duration $transition-delay/8*$index+.4;
          }
        }
      }
    }

    p {
      margin: 30px 30px -4px;

      @media (max-width: $screen-xs-max) {
        margin: 20px 20px 36px;
      }
    }

    a {
      color: $text-color;

      @media (max-width: $screen-xs-max) {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.jumbotron--handcrafted {
  margin-top: 100px;
  padding-top: 140px;
  height: 800px;
  background: url("img/handcrafted.jpg") no-repeat center;
  background-size: cover;
  color: #fff;

  @media #{$retina-media-query} {
    background-image: url("img/handcrafted@2x.jpg");
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 0;
    padding-top: 62px;
    height: 355px;
    background-image: url("img/handcrafted-mobile.jpg");
  }

  @media (max-width: $screen-xs-max) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: $screen-xs-max) and (min-resolution: 144dpi) {
    background-image: url("img/handcrafted-mobile@2x.jpg");
  }

  h2 {
    font-size: 110px;
    line-height: 60px;

    i {
      font-size: 58px;
    }

    @media (max-width: $screen-xs-max) {
      padding-left: 20px;
      font-size: 36px;
      line-height: 30px;

      i {
        font-size: 10vw;
      }
    }
  }
}

.designers {
  margin: -250px 0 150px;

  @media (max-width: $screen-md-max) {
    margin-top: -206px;
  }

  @media (max-width: $screen-md-min) {
    margin-top: -158px;
  }

  @media (max-width: $screen-xs-max) {
    margin: 0;
  }

  h2 {
    padding: 20px 0 16px 20px;
  }

  &-list {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;

    @media (max-width: $screen-xs-max) {
      display: block;
      text-align: left;
    }

    img {
      @include img-responsive();
    }

    &-item {
      display: table-cell;
      background: $product-section-bg;
      vertical-align: middle;

      @media (max-width: $screen-xs-max) {
        display: block;
      }

      img.with-effect {
        opacity: 0;
        transition: opacity $transition-effect-duration;

        &.fire-effect {
          opacity: 1;
        }
      }

      &--inverted {
        background: #000;
        color: #fff;

        @media (max-width: $screen-md-max) {
          background: $product-section-bg;
          color: $text-color;
        }
      }

      p {
        font-weight: 500;
        font-style: italic;

        &:last-child {
          margin: 0;
        }

        strong {
          font-weight: 900;
          font-style: normal;
        }
      }

      &--padded {
        padding: 0 $grid-gutter-width * 3;

        @media (max-width: $screen-sm-max) {
          padding: 0px 20px 20px;
        }

        @media (max-width: $screen-xs-max) {
          padding: 20px 20px 40px;
        }
      }
    }
  }
}

.safe {
  @include make-row(0);
  margin-bottom: 150px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 0;
  }

  .safe-item {
    @include make-sm-column(4, 0);
    padding-left: 35px;
    border-left: 1px solid $box-border;

    @media (max-width: $screen-xs-max) {
      border-top: 1px solid $box-border;
      border-left: none;
      padding: 40px 20px;
      overflow: hidden;
    }

    &:first-child {
      border-left: none;
    }

    svg {
      width: 48px;

      @media (max-width: $screen-xs-max) {
        width: 37px;
        float: left;
      }
    }

    div {
      @media (max-width: $screen-xs-max) {
        width: calc(100% - 57px);
        float: right;
      }
    }

    h4 {
      text-transform: lowercase;
      margin-top: 25px;

      @media (max-width: $screen-xs-max) {
        margin-top: 0;
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}

.jumbotron.jumbotron--dont-wait {
  height: 700px;
  padding-top: 70px;
  background: url("img/dont-wait.jpg") no-repeat center;
  background-size: cover;
  text-align: center;

  @media #{$retina-media-query} {
    background-image: url("img/dont-wait@2x.jpg");
  }

  @media (max-width: $screen-xs-max) {
    height: 355px;
    padding-top: 40px;
  }

  &.with-effect {
    opacity: 0;

    &.fire-effect {
      opacity: 1;
      transition: opacity $transition-effect-duration;
    }
  }

  .container {
    &.with-effect {
      opacity: 0;

      &.fire-effect {
        opacity: 1;
        transition: opacity $transition-effect-duration $transition-delay/2;
      }
    }
  }

  h2 {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 18px;
      padding-bottom: 0;
    }
  }

  .lead {
    margin-bottom: 45px;
    font-size: 15px;
    font-weight: 700;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 18px;
      font-size: 10px;
    }
  }
}

footer {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: #000;
    content: "";

    @media (max-width: $screen-xs-max) {
      content: none;
    }
  }

  h5 {
    margin-bottom: 30px;

    @media (max-width: $screen-sm-max) {
      margin: 0 0 20px;
    }
  }

  p {
    margin-bottom: 55px;
    font-weight: 500;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 40px;
    }
  }

  svg {

    @media (max-width: $screen-xs-max) {
      margin: 0;
    }
  }

  .row {
    margin: 0;
  }

  $footer-height: 515px;
  $footer-width: 570px;
  $footer-width-height-md: 470px;
  $footer-width-height-sm: 360px;
  $footer-width-height-xs: 310px;

  .col-sm-6 {
    padding: 80px 0 80px 80px;
    height: $footer-height;

    &.with-effect {
      opacity: 0;

      &.fire-effect {
        opacity: 1;
        transition: opacity $transition-effect-duration $transition-delay/2;

        + .fire-effect {
          transition: opacity $transition-effect-duration $transition-delay/4;
        }
      }
    }

    @media (max-width: $screen-md-max) {
      height: $footer-width-height-md;
    }

    @media (max-width: $screen-sm-max) {
      height: $footer-width-height-sm;
      padding: 40px 0 40px 40px;
    }

    @media (max-width: $screen-xs-max) {
      height: auto;
      padding: 40px 0 15px;
      text-align: center;
    }

    &:last-child {
      position: relative;
      z-index: 0;
      color: #fff;
      overflow: hidden;

      @media (max-width: $screen-xs-max) {
        height: $footer-width-height-xs;
        margin: 0 $grid-gutter-width/-2;
        padding: 40px 0 0;
        background: #000;
      }

      &:after {
        @include line-askew($footer-height, $footer-width, rgba(#fff, .1));

        @media (max-width: $screen-md-max) {
          @include line-askew($footer-width-height-md, $footer-width-height-md, rgba(#fff, .1));
        }

        @media (max-width: $screen-sm-max) {
          @include line-askew($footer-width-height-sm, $footer-width-height-sm, rgba(#fff, .1));
        }

        @media (max-width: $screen-xs-max) {
          @include line-askew(320px, $footer-width-height-xs, rgba(#fff, .1));
        }
      }

      svg {
        width: 27px;
        height: auto;
        margin-right: 5px;

        @media (max-width: $screen-xs-max) {
          width: 36px;
          margin: 0 8px 0 8px;
        }

        path {
          fill: $modal-content-bg;
          transition: fill $transition-duration;
        }

        &:hover {
          path {
            fill: $navbar-default-link-hover-color;
          }
        }
      }
    }

    .pull-left {
      @media (max-width: $screen-xs-max) {
        float: none !important;
      }

      svg {
        height: 24px;
        margin-bottom: 10px;

        @media (max-width: $screen-xs-max) {
          height: 18px;
          margin-bottom: 10px;
        }
      }

      p {
        margin-bottom: 25px;
        font-size: 11px;

        @media (max-width: $screen-xs-max) {
          font-size: 10px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .pull-right {
      @media (max-width: $screen-xs-max) {
        float: none !important;
      }

      @media (min-width: $screen-xs-max) and(max-width: $screen-sm-max) {
        position: absolute;
        top: 40px;
        right: 0;
      }

      svg {
        width: 284px;

        @media (max-width: $screen-md-max) {
          width: 215px;
        }

        @media (max-width: $screen-sm-max) {
          width: 170px;
        }

        @media (max-width: $screen-xs-max) {
          margin: 0 0 40px 14px;
          width: 143px;
        }

        .st0 {
          stroke: #bababa;
          stroke-miterlimit: 10;
        }

        .st0, .st1 {
          fill: none;
        }
      }
    }
  }
}

.modal {
  &-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%) scale(.7) !important;
    transition: transform $transition-effect-duration !important;

    @media (max-width: $screen-xs-max) {
      left: 0;
      transform: translateY(-50%) scale(.7) !important;
    }
  }

  &.in {
    .modal-dialog {
      transform: translate(-50%, -50%)  scale(1) !important;

      @media (max-width: $screen-xs-max) {
        transform: translateY(-50%) scale(1) !important;
      }
    }
  }

  .close {
    position: relative;
    width: 15px;
    height: 15px;
    display: block;
    overflow: visible;
    opacity: 1;
    font-size: 0;

    &:before, &:after {
      position: absolute;
      top: 50%;
      left: -3px;
      width: 21px;
      border-top: 1px solid #000;
      transform: rotate(45deg);
      content: "";
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &-content {
    border-radius: 0;
    box-shadow: none;

    img {
      width: 434px;
      height: 432px;
    }
  }

  &-body {
    @media (max-width: $screen-sm-max) {
      padding: 20px 0 0;
    }
  }

  &-title {
    padding-top: 3px;
    text-align: center;
    text-transform: lowercase;
    font-size: 48px;
    font-weight: 900;
  }

  &-footer {
    padding: 20px 40px 40px;
    text-align: center;
  }

  .carousel-control {
    svg {
      left: 25%;
    }

    &.right {
      svg {
        left: auto;
        right: 25%;
      }
    }
  }
}

.fade {
  transition: opacity $transition-effect-duration;
}

$modals: (
  casaya: #925037,
  nocca: #0c4b72,
  steyna: #633d72,
  devorma: #2f622c,
  rastel: #0d0600
);

@each $modal, $color in $modals {
  body.modal-#{$modal} .modal-backdrop {
    background-color: $color;
  }
}

.jumbotron--404 {
  margin-top: $navbar-height;
  height: 70vh;
  padding-top: 20vh;
}
